@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Hello there!</h1>
	<p>Rent a movie.</p>
	<p>Want to rent a movie?</p>
	<p><a asp-area="" asp-controller="Film" asp-action="GetAllFilms">Try here!</a></p>
</div>