@{
    ViewData["Title"] = "Sign Up";
}
<h3>@ViewData["Title"]</h3>
<form action="mailto:v.tonchev2003@gmail.com" method="post" enctype="text/plain">
    Име:<br>
    <input type="text" id="fname" name="First_name"><br>
    Фамилия:<br>
    <input type="text" id="sname" name="Last_name"><br>
    Въведете своята парола за регистрация:<br>
    <input type="password" id="pwd" name="Password"><br>
    <p></p>
    <input type="submit" value="Submit" />
</form>