
@{ 
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<from asp-controller="Film" asp-action="Create" method="post">
    <label>Name</label>
    <input name="name"/>
    
    <label>Price</label>
    <input type="number" name="price" />

    <button>Create</button>
</from>