
@{ 
    ViewData["Title"] = "Create";
}

<div class="text-center">
	<h1 class="display-4">Create</h1>

    <form asp-controller="Film" asp-action="Create" method="post">
        <label>Name</label> <br>
        <input name="name" /> <br>

        <label>Price</label> <br>
        <input type="number" name="price" /> <br>

        <label>Description</label> <br>
        <input name="description" /> <br>

        <label>Year of release</label> <br>
        <input type="number" name="yearrelease" /> <br>

        <br>

        <button>Create</button>
    </form>
</div>