@model Film
@{
    ViewData["Title"] = "FilmInfo";
}

<h1 class="display-4">Film</h1>
<br>

<img src="../Pics/@{@Model.Name}.jpg" width="500" height="200">
<p>Name: @Model.Name</p>
<p>Price: @Model.Price lv.</p>
<p>Year of release: @Model.YearRelease y.</p>
<p>Description: @Model.Description</p>
