@model List<Film>
@{ 
    ViewData["Title"] = "All Films";
}

<h1 class="display-4">All films</h1>
<br>
<ul>

@for (int i = 0; i < Model.Count; i++)
{
    <li><a onclick="location.href='@Url.Action("FilmInfo", "Film", Model[i])'">@Model[i].Name - @Model[i].Price lv.</a></li>
}

</ul>