@model Film
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="/Film/IndexPost" method="post">
    <input type="text" name="firstName" value="" />
    <input type="text" name="middleName" value="" />
    <input type="text" name="lastName" value="" />
    <button type="submit">Send</button>
    <button type="reset">Reset</button>
</form>

<p>@Model.Title</p>
<p>@Model.YearRelease</p>
@for (int i = 0; i < @Model.Directors.Count; i++)
{
    <p>@Model.Directors[i]</p>
}